body {
    margin 0;
    padding 0;
    font-family: YuGothic,'Yu Gothic','メイリオ', Meiryo,'Meiryo UI','ヒラギノ角ゴシック','Hiragino Sans','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','Osaka','ＭＳ ゴシック',sans-serif;
}

.container {
    margin: 5px 5px auto;
}

header {
    background-color: lightblue;
}

footer {
    background-color: midnightblue;
    color: white;
}

.contents {
    margin: auto;
}

.article {
    margin: 50px;
}

.wrapper {
    margin: auto;
    text-align: center;
    max-width: 2160px;
}

@media screen and (max-width:639px){

.side, .main {
    border-bottom: 1px dotted gray;    
}

}

@media screen and (min-width:640px){

.wrapper {
        display: flex;
}
.side {
    border-right: 1px dotted gray;
}
}
